<h2 align="center">Existing users</h2>
<table class="table table-bordered">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>User Role</th>
  </thead>
  <tbody>
    <% @users.each do |user|%>
      <tr>
        <td><%= user.name%></td>
        <td><%= user.email%></td>
        <td><%= user.roles.pluck(:name)%></td>
        <td><button class="btn btn-outline-warning"><%= link_to "Edit roles", edit_user_path(user) %></button></td>
      </tr>
    <% end %>
  <tbody>
</table>
